<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
               http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
               http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/mvc
               http://www.springframework.org/schema/mvc/spring-mvc.xsd
           http://www.springframework.org/schema/task
               http://www.springframework.org/schema/task/spring-task.xsd">

    <context:component-scan base-package="com.hospital" />
    <mvc:annotation-driven />
    <task:annotation-driven />

    <!-- Static resources -->
    <mvc:resources mapping="/static/**"      location="/static/" />
    <mvc:resources mapping="/uploads/**"     location="/uploads/" />
    <mvc:resources mapping="/*.css"          location="/" />
    <mvc:resources mapping="/*.js"           location="/" />

    <!-- JSP View Resolver -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <!-- Multipart resolver for file uploads — Spring 6 compatible -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.support.StandardServletMultipartResolver" />

    <!-- DataSource -->
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/hospital_db?useSSL=false&amp;serverTimezone=UTC" />
        <property name="username" value="root" />
        <property name="password" value="" />
    </bean>

    <!-- JdbcTemplate -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <!-- JavaMail -->
    <bean id="mailSender"
          class="org.springframework.mail.javamail.JavaMailSenderImpl"
          lazy-init="true">
        <property name="host"     value="smtp.gmail.com" />
        <property name="port"     value="587" />
        <property name="username" value="mohinkhan1118@gmail.com" />
        <property name="password" value="zqeselezmthcgcab" />
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>
            </props>
        </property>
    </bean>

</beans>
